.elementor-43 .elementor-element.elementor-element-7b6a7e97:not(.elementor-motion-effects-element-type-background),
.elementor-43 .elementor-element.elementor-element-7b6a7e97>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000 0%, #3d3d3d 100%);
}

.elementor-43 .elementor-element.elementor-element-7b6a7e97 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3% 10% 10% 10%;
}

.elementor-43 .elementor-element.elementor-element-7b6a7e97>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-7b6a7e97>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 43px;
}

.elementor-bc-flex-widget .elementor-43 .elementor-element.elementor-element-36dcf999.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-36dcf999.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-36dcf999>.elementor-element-populated {
    padding: 0% 65% 0% 0%;
}

.elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-4044d793 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-text {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-4044d793>.elementor-widget-container {
    padding: 7% 0% 7% 0%;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-43 .elementor-element.elementor-element-3d6c48f2 {
    text-align: right;
}

.elementor-43 .elementor-element.elementor-element-3d6c48f2 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-6a57c0d4 .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-524d8ffa {
    margin-top: -7%;
    margin-bottom: 0%;
    padding: 0% 10% 10% 10%;
}

.elementor-43 .elementor-element.elementor-element-58c11982:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 030px 0px 30px 0px;
}

.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-element-populated,
.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-element-populated>.elementor-background-overlay,
.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-43 .elementor-element.elementor-element-58c11982>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-5e6e478c {
    text-align: center;
}

.elementor-43 .elementor-element.elementor-element-5e6e478c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.elementor-43 .elementor-element.elementor-element-8b0f59d {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-icon i {
    color: #21DF00;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-icon svg {
    fill: #21DF00;
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-2439baf7 {
    --e-icon-list-icon-size: 36px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-text {
    color: #000;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-2439baf7>.elementor-widget-container {
    margin: 0% 35% 0% 35%;
    padding: 2% 0% 2% 0%;
    background-color: #00000005;;
    border-style: solid;
    border-width: 1px 00 1px 1px;
    border-color: #000;
    border-radius: 10px 10px 10px 10px;
}

.elementor-43 .elementor-element.elementor-element-7499870d {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-722febe6 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    background-image: linear-gradient(124deg, #04BB05 0%, #21DF00 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.26);
    padding: 20px 30px 20px 30px;
}

.elementor-43 .elementor-element.elementor-element-3a5488ef>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(141deg, #EBFFFB 0%, #d6d6d6 32%);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-3a5488ef {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #709BF1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 4% 10% 4% 10%;
}

.elementor-bc-flex-widget .elementor-43 .elementor-element.elementor-element-e661dfc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-e661dfc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-48c10744 {
    text-align: left;
    color: #000;
}

.elementor-bc-flex-widget .elementor-43 .elementor-element.elementor-element-1f4d3849.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-1f4d3849.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-1f4d3849.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-43 .elementor-element.elementor-element-6ad0234d .elementor-heading-title {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-43 .elementor-element.elementor-element-6ad0234d {
    width: auto;
    max-width: auto;
}

.elementor-43 .elementor-element.elementor-element-34b6be07 .elementor-icon-list-icon i {
    color: #000;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-34b6be07 .elementor-icon-list-icon svg {
    fill: #000;
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-34b6be07 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-43 .elementor-element.elementor-element-34b6be07 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-43 .elementor-element.elementor-element-34b6be07 .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-43 .elementor-element.elementor-element-34b6be07 .elementor-icon-list-text {
    color: #000;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-34b6be07>.elementor-widget-container {
    margin: 0px 0px 0px 15px;
}

.elementor-bc-flex-widget .elementor-43 .elementor-element.elementor-element-1a8763d9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-1a8763d9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-43 .elementor-element.elementor-element-1a8763d9.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-43 .elementor-element.elementor-element-13bf1e86 .elementor-heading-title {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c .elementor-icon-list-icon i {
    color: #000;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c .elementor-icon-list-icon svg {
    fill: #000;
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-43 .elementor-element.elementor-element-57a79c9c .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c .elementor-icon-list-text {
    color: #000;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-57a79c9c>.elementor-widget-container {
    margin: 0px 0px 0px 15px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-43 .elementor-element.elementor-element-e661dfc {
        width: 50%;
    }

    .elementor-43 .elementor-element.elementor-element-1f4d3849 {
        width: 33%;
    }

    .elementor-43 .elementor-element.elementor-element-1a8763d9 {
        width: 16.332%;
    }
}

@media(max-width:767px) {
    .elementor-43 .elementor-element.elementor-element-7b6a7e97 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 25px 30px 200px 30px;
    }

    .elementor-43 .elementor-element.elementor-element-36dcf999 {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-43 .elementor-element.elementor-element-36dcf999.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-43 .elementor-element.elementor-element-36dcf999.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-43 .elementor-element.elementor-element-36dcf999.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-43 .elementor-element.elementor-element-36dcf999>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0% 12% 0% 0%;
    }

    .elementor-43 .elementor-element.elementor-element-4044d793 {
        --e-icon-list-icon-size: 13px;
    }

    .elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-43 .elementor-element.elementor-element-4044d793 .elementor-icon-list-item>a {
        font-size: 14px;
    }

    .elementor-43 .elementor-element.elementor-element-4044d793>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 7% 0% 7% 0%;
        border-width: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-43 .elementor-element.elementor-element-4d66f61f {
        width: 50%;
    }

    .elementor-43 .elementor-element.elementor-element-4d66f61f.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-43 .elementor-element.elementor-element-3d6c48f2 {
        text-align: right;
    }

    .elementor-43 .elementor-element.elementor-element-3d6c48f2 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-43 .elementor-element.elementor-element-6a57c0d4 .elementor-counter-number-wrapper {
        font-size: 35px;
    }

    .elementor-43 .elementor-element.elementor-element-6a57c0d4>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-43 .elementor-element.elementor-element-524d8ffa {
        margin-top: -170px;
        margin-bottom: 0px;
        padding: 0px 30px 70px 30px;
    }

    .elementor-43 .elementor-element.elementor-element-58c11982>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-43 .elementor-element.elementor-element-5e6e478c .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-43 .elementor-element.elementor-element-8b0f59d {
        font-size: 19px;
    }

    .elementor-43 .elementor-element.elementor-element-2439baf7 {
        --e-icon-list-icon-size: 31px;
    }

    .elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-43 .elementor-element.elementor-element-2439baf7 .elementor-icon-list-item>a {
        font-size: 16px;
    }

    .elementor-43 .elementor-element.elementor-element-2439baf7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 7% 0% 7% 0%;
        border-width: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-43 .elementor-element.elementor-element-7499870d>.elementor-widget-container {
        margin: 0px 0px -19px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-48c10744 {
        text-align: center;
    }

    .elementor-43 .elementor-element.elementor-element-13bf1e86 {
        text-align: center;
    }
}

/* Start custom CSS for icon-list, class: .elementor-element-2439baf7 */
.elementor-43 .elementor-element.elementor-element-2439baf7 {
    text-align: left;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1f4d3849 */
.elementor-43 .elementor-element.elementor-element-1f4d3849 {
    width: 50% !important;
}

/* End custom CSS */
/* Start custom CSS */
.elementor-counter .elementor-counter-number-suffix {
    display: none;
}

/* End custom CSS */